body {
  text-align: center;
}

img {
  max-height: 100px
}

.person {
  border: 5px solid black;
  width: 400px;
  max-height: 350px;
  display: inline-block;
  text-align: center;
  margin: 5px 5px;
  background-color: lightblue;
}

.person:nth-child(2n+0) {
  background-color: lightyellow;
}

.dotted {
  border: 5px dotted red;
}

input {
  font-size: 28px;
  height: 50px;
  width: 60%;
  margin: auto 20%;
}

label {
  font-weight: bold;
  color: red;
}